@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 271, 90%, 66%;
  --secondary: #262626;
  --accent: 280, 60%, 52%;
  --background: 260, 25%, 11%;
  --foreground: 0, 0%, 100%;
  --card: 262, 30%, 15%;
  --border: 262, 30%, 20%;
  --glow: 280, 60%, 52%;
}

@layer base {
  body {
    @apply bg-gradient-to-b from-[#12021c] to-[#1a0329] min-h-screen text-white;
  }
}

.glass-card {
  @apply bg-opacity-20 backdrop-blur-lg bg-white/10 border border-[#00d4ff]/20  rounded-2xl 
         shadow-[0_0_15px_rgba(139,92,246,0.1)];
}

.glass-input {
  @apply bg-opacity-20 backdrop-blur-lg bg-white/10 border-none rounded 
    shadow-[0_0_15px_rgba(139,92,246,0.1)];
}

.glass-button {
  @apply bg-opacity-20 backdrop-blur-lg bg-white/30 hover:bg-white/20 
         border border-white/10 rounded-xl transition-all duration-200 ease-in-out
         hover:shadow-[0_0_20px_rgba(139,92,246,0.2)];
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#b673f8] to-[#4834d4];
}

.xeenux-glow {
  text-shadow: 0 0 15px rgba(139, 92, 246, 0.5);
}
